<!DOCTYPE html>
<html>
<head>
    <title>Project Assignment</title>
</head>
<body>
    <h1>Hello, <%= fname %> <%= lname %>!</h1>
    <p>You have been assigned to the project: <%= projectName %>.</p>
    <p>Project Description: <%= projectDescription %></p>
    <p>Start Date: <%= startDate %></p>
    <p>End Date: <%= endDate %></p>
</body>
</html>
